body, html {
    height: 100%;
    margin:0;
    line-height: 180%;
    text-align: center;
    background-color: #484c4c;
}
.parallax1 {
    background-image: url(/assets/space.jpg);
    min-height: 100%;
}
.parallax2 {
    background-image: url(/assets/galaxy.jpg);
    min-height: 50%;
}
.parallax3 {
    background-image: url(/assets/sdust.jpg);
    min-height: 50%;
}
.parallax4 {
    background-image: url(/assets/sdust2.jpg);
    min-height: 50%;
}
.parallax5 {
    background-image: url(/assets/viewsky.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head {
    position: absolute;
    color: rgb(196, 171, 171);
    font-size: 250%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: drop 2s infinite; 
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

section {
    height: auto;
    padding: 50px 80px; 
    background-color: #484c4c;
}

div {
 color: white;
}

footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 8vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}


        @keyframes drop {
          0%   {top: 150px;}
          50%  {top: 140px;}
          100% {top: 150px;}
          }
        
        #a { color: rgb(196, 171, 171);}
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }

#glow {
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000; 
  }
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 
                 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
}

.containerf {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
}

form {
            background-color: white;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        max-width: 600px;
        border-radius: 10px;
}

form h1 {
        color: #555;
        font-weight: 800;
        margin-bottom: 20px;
}

form input, form textarea {
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background-color: #f5f5f5;
        font-size: 16px;
}

form button {
        padding: 15px;
        background: cyan;
        color: #fff;
        font-size: 18px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;
        border-radius: 30px;
}