body, html {
    height: 100%;
    margin:0;
    line-height: 180%;
    text-align: center;
    background-color: #484c4c;
}
.parallax1 {
    background-image: url(/assets/space.jpg);
    min-height: 100%;
}
.parallax2 {
    background-image: url(/assets/galaxy.jpg);
    min-height: 50%;
}
.parallax3 {
    background-image: url(/assets/sdust.jpg);
    min-height: 50%;
}
.parallax4 {
    background-image: url(/assets/sdust2.jpg);
    min-height: 50%;
}
.parallax5 {
    background-image: url(/assets/viewsky.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
}

.head {
    position: absolute;
    color: rgb(196, 171, 171);
    font-size: 500%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    animation: drop 4s infinite; 
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

section {
    overflow: auto;
    padding: 50px 80px; 
    background-color: #484c4c;
}

div {
 color: white;
}

footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 8vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}


@keyframes drop {
  0%   {top: 150px;}
  50%  {top: 140px;}
  100% {top: 150px;}
  }

#a { color: rgb(196, 171, 171);}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }