body, html {
    height: 100%;
    margin:0;
    line-height: 180%;
    text-align: center;
    background-color: #362121;
}
.parallax1 {
    background-image: url(/assets/space.jpg);
    min-height: 70%;
}
.parallax2 {
    background-image: url(/assets/galaxy.jpg);
    min-height: 50%;
}
.parallax3 {
    background-image: url(/assets/sdust.jpg);
    min-height: 50%;
}
.parallax4 {
    background-image: url(/assets/sdust2.jpg);
    min-height: 50%;
}
.parallax5 {
    background-image: url(/assets/viewsky.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head {
    position: absolute;
    color: white;
    font-size: 250%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: drop 10s infinite; 
}

section {
    height: auto;
    padding: 50px 80px; 
    background-color: #E8A87C;
        color: #0f0f0f;
        border-radius: 1%;
}

div {
  text-align: center;
}

footer{
    width: 100%;
    background-color: #362121;
    color: #f2f2f2;
    height: 8vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}

@keyframes drop {
          0%   {top: 150px;}
          10%  {top: 140px;}
          20%  {top: 150px;}
          30%  {top: 140px;}
          40%  {top: 150px;}
          50%  {top: 140px;}     
          60%  {top: 150px;}
          70%  {top: 140px;}
          80%  {top: 150px;}
          90%  {top: 140px;}
          100% {top: 150px;}
          }
        
        #a { color: rgb(255, 255, 255);}
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }



.containerf {
        height: auto;
        display: flex;        
            align-items: center;
        justify-content: center;
}

form {
            background-color: white;
        display: flex;
        flex-direction: column;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 50px;
        max-width: 300px;
        border-radius: 50px;
}

form h1 {
        color: #555;
        margin-bottom: 5px;
}

        form p {
                color: #555;
        }

form input, form textarea {
        width: 250px;
        padding: 10px;
        background-color: #f5f5f5;
        font-size: 15
        outline: none;
}

form button {
        padding: 15px;
        background: cyan;
        color: #fff;
        font-size: 13px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 100px;
        margin: 20px auto 0;
        border-radius: 30px;
}

            /* */

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}