@font-face {
    font-family: 'mouse_memoirsregular';
    src: url('style/fonts/mousememoirs-regular-webfont.woff2') format('woff2'),
         url('style/fonts/mousememoirs-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mouse+Memoirs&display=swap');