footer{
    position: absolute;
    bottom: 1;
    left: 0;
    right: 0;
    background: #07d452;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: aqua;
}

        .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #00ff59;
}

.footer-bottom{
    width: 100vw;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
        background: linear-gradient(-15deg, #1D976C, #93F9B9, #22d162);
        background-size: 400% 400%;
         animation: bgfb 10s ease infinite;
}

@keyframes bgfb { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.footer-bottom p{
   float: center;
   font-size: 25px;
   word-spacing: 2px;
   text-transform: capitalize;
}
.footer-bottom p a{
  color:#00ffcc;
  font-size: 12px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

