h1 {
 font-family: 'Mouse Memoirs', sans-serif;
}

.bold {
 font-weight: bold;
}

p {
font-family: 'Silkscreen', cursive;     
}

.p {
font-family: 'Silkscreen', cursive;     
}

label {
  font-family: 'Silkscreen', cursive;  
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  position: center;    
  top: 0px;     
}

.pill-nav a:hover {
  background-color: #3e1e1e;
  color: black;
        position: sticky;    
  top: 0px;
border-style: dotted; 
}


.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
        position: sticky;    
  top: 0px;  
}


.fullscreen {
 position: static;
 left: 0;
 top: 0;
 height: 25%;
 width: 100%;     
}



a {
    text-decoration: none;
    color: aqua;
    padding: 5px;
}

.left { 
  float:left; 
  width:50%; 
  font-family: 'Silkscreen', cursive; 
 }

.right { 
  float:right; 
  width:50%; 
  font-family: 'Silkscreen', cursive; 
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}
.button {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  trasnition: var(--speed-normal);
  border: 1px solid var(--color-red);
}
.button:hover {
  border: 1px solid transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: butn var(--speed-fast) steps(8) forwards;
}
.button:last-of-type {
  border: 1px solid var(--color-purple);
}
.button:last-of-type:hover {
  background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
}
@keyframes butn {
  0% {
    background-position-y: 0;
 }
  100% {
    background-position-y: -480px;
 }
}