body {
        text-align: center;
	background: linear-gradient(-45deg, #af2c04, #c25e00, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
 font-family: 'Mouse Memoirs', sans-serif;
}

sr {
 visibility: hidden;
}

.div1 {
    padding: 50px;
    font-size: 20px;    
    text-align: center;
    color: black;
    font-weight: bold;  
}

p {
font-family: 'Mouse Memoirs', sans-serif;        
}

