body {
        text-align: center;
	background: linear-gradient(-45deg, #eacda3, #d6ae7b, #bc9562);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
 font-family: 'Mouse Memoirs', sans-serif;
}

.bold {
 font-weight: bold;
}

.div1 {
    padding: 50px;
    font-size: 20px;    
    text-align: center;
    color: black;
    font-weight: bold;  
}

p {
font-family: 'Indie Flower', cursive;     
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  position: center;    
  top: 0px;      
}


.pill-nav a:hover {
  background-color: #3e1e1e;
  color: black;
        position: sticky;    
  top: 0px;  
}


.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
        position: sticky;    
  top: 0px;  
}


.fullscreen {
 position: static;
 left: 0;
 top: 0;
 height: 50%;
 width: 100%;     
}


