#navbar{
  width:100%;
  height:100vh;
  background-size: contain;
}
nav{
        position: fixed;
        font-size: 10px;
  width: 100%;
  height: 25px;
  line-height: 30px;
}
nav ul{
        background-color: black;
  float: center;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.5 all;
}
nav ul li:hover{
  background-color: seagreen;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 6px;
}
* {
  margin: 0;
  padding: 0px;
}