.wrapper {
    margin: 0 auto;
    width: 90%;
}

header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
}

nav {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav a:hover {
        border-radius: 20px;
        background-color: black;
        color: white;
        cursor: pointer;
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
        -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 20px;
    text-decoration: none;
    color: black;
        background-color: white;
        -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
        -webkit-transition: color 5s ease-out;
  -moz-transition: color 5s ease-out;
  -o-transition: color 5s ease-out;
  transition: color 5s ease-out;
}

#main {
    padding-top: 70px;
}

