@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

p {
        font-family: 'Press Start 2P', cursive;
}

h1 {
        font-family: 'Press Start 2P', cursive;
        color: black;
}

nav ul li a{
  font-family: 'Press Start 2P', cursive;
}

nav ol li a{
  font-family: 'Press Start 2P', cursive;
}

a {
        font-family: 'Press Start 2P', cursive;
}