/* font-family: 'Concert One', cursive; For Texts
font-family: 'Permanent Marker', cursive; for Titles*/

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Permanent+Marker&display=swap');

p {
    font-family: 'Concert One', cursive;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.headt {
        font-family: 'Permanent Marker', cursive;
}

.highlight {
  background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
  border-radius: 6px;
  padding: 3px 6px;
}
